@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

input {
  outline: none !important;
}

.slick-slide div {
  outline: none !important;
}

.install-carousel .slick-prev:after, .install-carousel .slick-next:after {
  color: #000 !important;
  width: 16px;
  height: 16px;
  border-inline-start-width: 3px;
  border-block-start-width: 3px;
}